<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<body><br>
    <h2 style="color: linear-; font-size: 7em; font-family: 'Style Script', cursive;"> FosterIt</h2>
    <br>
    <br><br><br><br>
    <br>
    <br><br>
    <div style="color: whitesmoke; width: 70%; margin-left: 15%; margin-right: 15%; background-color: black;">
        
         
    </div>
    <div>
        <br><br><br><br>
    </div>
</body>

<style>
    body{
       height: 100%;
    }
</style>